@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 200;
    font-family: "Poppins", sans-serif;
	background: black;
}

.todolistitem {
    font-weight: bold;
    border: 0;
    cursor: default !important;
    transition: all 500ms ease;
    color: black;
    background: white;
}

.todolistitem:hover {
    color: #d3d3d3;
    cursor: default !important;
}

#buttondivc{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 90%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.rownew{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 5px;
    width: 90%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

#contentInput,
#casharrival,
#cashacquiring,
#cashtransfer,
#theamountendday, 
#salaryInput,
#collectionInput,
#paymentInput,
#otherInput,
#householdInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#buttonc,
#endbutton {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.container {
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


h3{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}



#expenseschoice {
	width: 90%;
    max-width: 540px;
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	background-color: #fff;
	padding: 10px 35px 10px 15px;
	outline: none;
	cursor: pointer;
}

#hourchoice{
    width: 25%;
    max-width: 540px;
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	background-color: #fff;
	padding: 5px 20px 5px 7px;
	outline: none;
	cursor: pointer;
}

#expenseschoice::-ms-expand,
#hourchoice::-ms-expand {
	display: none;
}

#expenseschoice:focus,
#hourchoice:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

#expenseschoice-wrapper,
#hourchoice-wrapper {
	position: relative;
}

#expenseschoice-wrapper::before,
#hourchoice-wrapper::before {
    content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #7e9bbd transparent transparent transparent;
	pointer-events: none;
}

.card-choice {
    text-align: center;
}

#salary,
#household,
#collection,
#payment,
#other {
    margin-top: 40px;
    display: none;
}

#closeworkbutton {
    text-align: center;
    margin-top: 40px;
}

#buttons {
    text-align: center;
}
#error{
    text-align: center;
    color: red;
    display: none;
    margin-top: 10px;
}
#images{
    text-align: center;
    margin: 500px;
}
