@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 200;
    background: black;
    font-family: "Poppins", sans-serif;
}
.form {
    text-align: center;
    padding: 10px;
}

.todolistitem {
    color: #d3d3d3;
    cursor: default !important;
    font-size: 15pt;
    font-weight: bold;
}
#contentInput {
    background-color: #f1f1f1;
}
.todolistitem:hover {
    color: #d3d3d3;
    cursor: default !important;
}
.form input {
    width: 100%;
    padding: 10px;
    font-size: 15pt;
}
* {
    outline: none;
}

#buttondivc{
    align-items: center;
    justify-content: center;
    text-align: center;
}


h3 {
    color: white;
    text-align: center;
}